img {
  margin-top: 30px;
  margin-left: 90px;
}
#mg-1 {
  border-radius: 40px;
  margin-left: 60px;
  margin-right: 0px;
  margin-bottom: -36px;
}
div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#img-1 {
  width: 35px;
  height: 40px;
  margin-left: 10px;
}
#s1 {
  margin-left: -150px;
  margin-top: 25px;
  margin-right: 20px;
  width: 400px;
  height: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-color: antiquewhite;
}

::placeholder {
  font-size: large;
  margin-left: 200px;
}
button {
  margin-left: 100px;
  margin-top: 30px;
}
form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
button {
  margin-left: 20px;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  background-color: white;
}
#p1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3px;
  margin-left: 100px;
}
p {
  margin-left: 100px;
}
