#mg-1 {
  width: 26px;
  height: 26px;
  /* margin-right: 20px; */
}

.container {
  max-width: 600px;
  padding: 20px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
}

.left {
  padding-right: 10px;
  width: 250px;
  height: 580px;
  font-size: 20px;
  margin-left: -15px;
  border-radius: 20px;
}

.KodNest_App {
  display: flex;
}
#mg-2 {
  width: 80px;
  height: 76px;
}
.card {
  margin: 20px;
  margin-left: 40px;
  font-family: sans-serif;
}
#p2 {
  margin-bottom: 50px;
  margin-top: -20px;
}
button {
  margin-left: 250px;
  color: white;
  background-color: #f34d11;
  border-radius: 10px;
  width: 100px;
  height: 45px;
  border-color: #f04410;
  font-size: small;
}
.card-1 {
  font-family: sans-serif;
  margin-left: 100px;
  margin-top: 50px;
}
#mg-4 {
  margin-right: 300px;

  width: 40px;
  height: 40px;
  margin-bottom: -50px;
}
.c2 {
  margin-top: -80px;
  margin-left: 50px;
}
#b1 {
  margin-left: 300px;
  color: black;
  background-color: white;
  border-radius: 10px;
  border-color: #989790;
  width: 100px;
  height: 45px;
  font-size: small;
  margin-bottom: 50px;
}

#div-2 {
  margin-top: 30px;
}
#div-3 {
  display: flex;
  gap: 10px;
}
.fixed-image {
  position: fixed;
  width: 100px;
  height: auto;
  background-color: black;
  border-radius: 20px;
}
#b2 {
  margin-left: 350px;
  color: black;
  background-color: white;
  border-radius: 10px;
  border-color: khaki;
  width: 150px;
  height: 45px;
  font-size: small;
  margin-bottom: -100px;
}
h5,
h6 {
  display: inline;
  margin-right: 20px;
  margin-top: -200px;
  gap: 1px;
  width: 600px;
}
#div-6 {
  display: inline;

  gap: 1px;
}

#div-5 {
  width: 550px;
  height: auto;
}
