body {
  font-family: sans-serif;
}
.left {
  padding-right: 10px;
  width: 250px;
  height: 580px;
  font-size: 20px;
  margin-left: -15px;
  border-radius: 20px;
}
.KodNest_App {
  display: flex;
}
.container {
  max-width: 600px;
  padding: 20px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
}

.fixed-image {
  position: fixed;
  width: 100px;
  height: auto;
  background-color: black;
  border-radius: 20px;
}
#mg-2 {
  width: 80px;
  height: 76px;
}
#mg-1 {
  width: 26px;
  height: 26px;
  /* margin-right: 20px; */
}
button {
  border-radius: 20px;
  width: auto;
  height: 40px;
  border-color: rgba(226, 136, 1, 0.742);
  margin: 20px;
  background-color: white;
}
button:hover {
  background-color: rgba(226, 136, 1, 0.742);
}

#div-2 {
  margin: 20px;
  margin-left: -100px;
}

.c1 {
  background-color: whitesmoke;
  height: 400px;
  width: 135%;
  border-radius: 20px;
}

#b4 {
  width: auto;
  height: 40px;
  border-radius: 10px;
  margin-left: -150px;
}

#mg-3 {
  margin-left: 450px;
  margin-top: 100px;
}
